aiohttp==3.6.3
astroid==2.4.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
autopep8==1.5.4
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
discord==1.0.1
discord.py==1.5.1
docopt==0.6.2
idna==2.10
isort==5.6.4
lazy-object-proxy==1.4.3
mal-api==0.3.7
mccabe==0.6.1
multidict==4.7.6
numpy==1.19.5
Pillow==8.0.1
pipreqs==0.4.10
pycodestyle==2.6.0
pylint==2.6.0
requests==2.25.0
six==1.15.0
soupsieve==2.1
toml==0.10.2
typed-ast==1.4.1
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.26.2
wrapt==1.12.1
yarg==0.1.9
yarl==1.5.1
